<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291634912261-i4anubnmnb26ffnodaddm2efnqtk1kpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291634912261-i4anubnmnb26ffnodaddm2efnqtk1kpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBFGGlt1vRMQAcZQsPFw6cbiGSnVrdug8o</string>
	<key>GCM_SENDER_ID</key>
	<string>291634912261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ownDog</string>
	<key>PROJECT_ID</key>
	<string>owndog-29184</string>
	<key>STORAGE_BUCKET</key>
	<string>owndog-29184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291634912261:ios:d84869c9b72410a430106c</string>
	<key>DATABASE_URL</key>
	<string>https://owndog-29184.firebaseio.com</string>
</dict>
</plist>